
.newMatch {

    position: absolute;
    height: 28px;
    left: 35px;
    top: 32px;
    
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
    }



.conversations {

    position: absolute;
    width: 160px;
    height: 29px;
    left: 20px;
    top: 250px;
    
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    }    

.chats{
margin-top:320px;
margin-left : 24px;
margin-right: 24px;
    }

.unread1{
position: fixed;
left: 100px;
top: 369px;

}
.unread2{
    position: fixed;
    left: 100px;
    top: 466px;
    
}
.typing{
    position: fixed;
    left: 100px;
    top: 656px;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: #FD8356;
    border-radius: 10px;
    position: fixed;
    left: 150px;
    top: 530px;
}