.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height:70px;
  margin-bottom: 14px;
  background: #ffffff;
  border: 1px solid rgba(253, 131, 69, 0.45);
  border-radius: 16px;
}


.chat__details {
  flex: 1;
  margin-top: 10px;
}

.chat__details > p {
  color: gray;
}

.chat__timestamp {
  color: lightgray;
}

.chat__image {
  margin-right: 20px;
}








