.chatLogo{

position: absolute;
left: 79.71%;
right: 13.94%;
top: 5.02%;
bottom: 91.85%;
}

.newMatch {

    position: absolute;
    height: 28px;
    left: 35px;
    top: 32px;
    
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
    }

.conversations {

    position: absolute;
    width: 160px;
    height: 29px;
    left: 20px;
    top: 263px;
    
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    }    

.chats{
margin-top:329px;
    }
