@font-face {
    font-family: '-apple-system, BlinkMacSystemFont, sans-serif';
    src: local('-apple-system, BlinkMacSystemFont, sans-serif'), url(./fonts/SF-Pro-Display-Regular.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
  
.unique_card {
    position: relative;
    height: 553px;
    width: 370px;
    top: 70px;
    
    background: #FFFBF9;
    box-shadow: inset 0px 0px 5px #FFD2B2;
    border-radius: 32px 31px 32px 32px;

}

.pro_info {

    height: 224.11532592773438px;
    width: 370px;
    top: 80px;
    background: #FFD2B3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 32px 31px 32px 32px;
}

.pro_image {
    background-size: cover;
    background-position: center;
    width: 191.23px;
    height: 191.23px;
    position: absolute;
    left: 4.35%;
    right: 44.93%;
    top: 2.97%;
    bottom: 62.45%;
    border-radius: 30px;
}
.top_details {

position: absolute;
left: 60%;
top: 5%;

font-family: '-apple-system, BlinkMacSystemFont, sans-serif';
font-style: normal;
line-height: 21px;

color: #000000;

}


.details_name {

    font-size: xx-large;
    margin-bottom: 13px;
}
.details_distance {

    font-size: larger;
    margin-bottom: 13px;
}
.details_age {

    font-size: larger;
    margin-bottom: 13px;
}
.details_location {

    font-size: larger;
    margin-bottom: 13px;
}

.likelyMatch {

    font-weight: 580;  
    top: 28.75%;
    text-align: center;
    color: #FFFFFF;
    background: #007CDC;
    padding: 6.5px;
    border-radius: 10px;
}

.bottom_details {
    position: absolute;
    left: 10%;
    right:15%;
    top: 45.72%;
    bottom: 44.48%;
    
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
}

.onelineTagline {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}

.interests {

    position: absolute;
    top: 61%;
    line-height: normal;
    font-family: SF Pro Text;
    font-style: normal;
    font-size: 18px;
}

.interest_img {

    width:39px;
    height:39px;
    /* background: #F8F8F8;
    border: 1px solid #FFBE9D; */
    border-radius: 30px;
    margin-bottom: 13px;
    margin-left: 6.5em;
    display: block;
}

.interest_text {
    margin-left: 0.5em;
    white-space: nowrap;
    margin-top: 0.285em;
   
}

.more_interest{
    margin-left:4.4em;
    font-family: SF Pro Text;
    font-style: normal;
    font-size: 15px;
}

.FMCard__cardContainer{
    display: flex;
    justify-content: center;
}

.swipe{
    position: absolute;
}